/* CSS Document */
body{
	background-color: #1C1421
	
	}
div.info h3{
	text-align: center;
	font-family: monospace;
	font-size: 20px;
	color: #F7F7FF;
}
ul {
	list-style: none outside none;
	margin: 100px;
}

li {
	position: relative;
	display: inline;
	margin: 50px;
}
div.legal{
	margin-top: 70px;
}
div.legal h3{
	font-size:20px;
	font-family: monospace;
	text-align: center;
	color: #F7F7FF;

}
div.legal h2{
	font-size:25px;
	font-family: monospace;
	text-align: center;
	color: darkorange;

}
div.foto {
	margin-top: 30px;
}
div.galeri{
	margin-top: 90px;
}
div.galeri h3{
	font-size:25px;
	font-family: inherit;
	text-align: center;
	color: darkorange;

}
div.yazi h3
{
	
	z-index:60;
	margin-left:35px;
	position:relative;
	margin-top:-23px;
	color:#FFFFFF;
	font-size:12px;
	
	
	}

div.ana{
	width: 800px;
    height:auto;
    margin-left: auto;
	margin-right: auto;
    margin-top: 100px;
}

div.giris h3{
	font-size:30px;
	font-family: inherit;
	text-align: center;
	color: #F7F7FF;

}
div.bikart{
	margin:10px}
	div.bikart2{
	margin-left:10px;
	margin-bottom:-10px;
	}
	
	div.mana h3
{
	
	z-index:70;
	margin-top:-32px;
	margin-left:13px;
	
	position:relative;
	
	color:#FFFFFF;
	font-size:20px;
	
	
	}
	div.cerceve{
	z-index:50;
	position:relative;
	}
	div.sayi{
		z-index:40;
		
		margin-top:-43px;
		margin-left:191px;
		position:relative;
		}
	